<ul class="nav nav-list" id="navigation-main">
    <li class="hover" id="document">
        <a href="/Admin/Document?type=0">
            <i class="menu-icon blue ace-icon fa fa-inbox bigger-190"></i>

            <span class="menu-text"> Công Văn Đến </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="hover" id="documentto">
        <a href="/Admin/Document?type=1">
            <i class="menu-icon orange ace-icon fa fa-location-arrow bigger-190"></i>
            <span class="menu-text"> Công Văn Đi </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="hover" id="organization">
        <a href="/Admin/Organizations">
            <i class="menu-icon"><img src="~/Content/icon/icon_vector_65_16.png" width="24" /></i>
            @*<i class="menu-icon blue fa fa-building-o"></i>*@
            Cơ quan ban hành
            <b class="arrow"></b>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="hover" id="departments">
        <a href="/Admin/Departments">
            <i class="menu-icon"><img src="~/Content/icon/icon_Department.png" width="24" /></i>
            @*<i class="menu-icon blue fa fa-building-o"></i>*@
            Phòng Ban
            <b class="arrow"></b>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="hover" id="rolesetting">
        <a href="/Admin/RolesSetting">
            <i class="menu-icon blue fa fa-cogs"></i>
            Quyền Truy Cập
            <b class="arrow"></b>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="hover" id="user">
        <a href="/Admin/Users">
            <i class="menu-icon red fa fa-users"></i>
            Người Dùng
            <b class="arrow"></b>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="hover" id="documenttype">
        <a href="/Admin/DocumentType">
            <i class="menu-icon orange fa fa-folder-open"></i>
            Loại Văn Bản
            <b class="arrow"></b>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="hover" id="searchdocument">
        <a href="/Admin/Document/Search">
            <i class="menu-icon orange fa fa-cloud-download bigger-170"></i>
            <span class="menu-text"> Tra cứu Công Văn </span>
        </a>
        <b class="arrow"></b>
    </li>

    @*<li class="hover" id="report">
            <a href="/Admin/Report">
                <i class="menu-icon fa fa-bar-chart-o red bigger-170"></i>
                <span class="menu-text"> Báo Cáo </span>
            </a>
            <b class="arrow"></b>
        </li>*@
</ul><!-- /.nav-list -->