/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}*/
.fileuploadButton {
    position: relative;
    display: inline-block;
}
.fileuploadButton>input {
    display: block;
    height: 35px;
    position: absolute;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 15;
}
